<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MealHive Delivery</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    
</head>
<body>
    
    <h1>Welcome to - MealHive <br><small>Delivering Happiness
        To Have a True Taste</h1>
    <br>
    <div class="links">
        <a href="open_signup">Sign up</a>
        <br>
        <a href="open_signin">Sign in</a>
    </div>
    
</body>
</html>